body{
    font-family:"Arial", "Meiryo", sans-serif;
    text-align:center;
}

h1{
    font-family:Josefin Sans;
    letter-spacing:1.2em;
    border-bottom:solid 3px rgb(115,115,114);
    text-shadow:2px 2px 4px blue
}

.text-pink{
    color:rgb(255,192,203)
}
.text-skybule{
    color:skyblue
}
#parent>p{
    font-weight:bold;
}

